<footer class="footer">
    <p>상호: 사회적협동조합 드림쇼콰이어 | 주소: 울산광역시 중구 학성로 191 4층<br>
        이메일: dreamshowchoir524@gmail.com | 교육번호: 731-80-02083 | 대표: 조이얀</p>
    <p>전화번호: 010-5592-0970<br>
        Copyright © 드림쇼콰이어. All rights reserved.</p>
    <p><a href="/terms">서비스 이용약관</a> | <a href="/privacy">개인정보처리방침</a></p>
</footer>
