<header class="header">
    <nav class="nav">
        <a class="nav__logo" href="/">로고</a>
        <ul class="nav__menu">
            <li><a href="/">홈</a></li>
            <li><a href="/about">드림쇼콰이어 소개</a></li>
            <li><a href="/activities">활동 소개</a></li>
            <li><a href="/members">단원 전용</a></li>
            <li><a href="/contact">소통하기</a></li>
            <li><a href="/join">후원 및 가입</a></li>
        </ul>
        <div class="nav__actions">
            <a href="/login" class="btn">로그인</a>
            <a href="/signup" class="btn btn--outline">회원가입</a>
        </div>
    </nav>
</header>
